.mentor {
  padding: 100px 0 50px 0;
  height: 900px;
  background-color: $color-accent;


  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  &__title {
    text-align: center;
    padding-bottom: 50px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    padding: 70px 0;
  }

  &__card {
    color: $color-dark;
    box-shadow: 0px 1px 9px 10px $color-light;
    padding: 15px;
    max-width: 500px;
    border-radius: $border-radius;
    background-color: $color-light;

    &:hover {
      scale: 0.9;
    }
  }
}
