@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

.container {
  max-width: 1440px;
  padding-inline: 20px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: #1f1f1f;
  background-color: #ffffff;
  margin: 0 !important;
}

a,
button,
input,
svg * {
  transition-duration: 0.2s;
}

a {
  color: inherit;
  color: #ffffff;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h2,
.h2 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h3,
.h3 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

h4,
.h4 {
  font-size: clamp(12px, 1.1111111111vw, 16px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 25px 30px;
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__menu-link {
  position: relative;
  letter-spacing: 4px;
}
.header__menu-link:hover::after {
  width: 100%;
}
.header__menu-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition-duration: 0.2s;
}

.logo {
  letter-spacing: 10px;
}

.section-dark {
  background-color: #1f1f1f;
}

.banner {
  position: relative;
}
.banner__body {
  position: relative;
  background-image: url("../images/banner_img2.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.banner__description {
  padding-top: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.banner__title {
  font-weight: 600;
  font-size: 75px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 8px rgb(59, 59, 59);
}

.button {
  color: #ffffff;
  background-color: #1f1f1f;
  border: none;
  border-radius: 14px;
  padding: 10px 15px;
}
.button:hover {
  color: #1f1f1f;
  background-color: #ffffff;
  transition-duration: 0.2s;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding: 30px 0;
  height: 700px;
}
.about__image {
  position: relative;
  top: -25%;
  right: -40%;
}
.about__title {
  color: #ffffff;
}
.about__card {
  position: relative;
  text-align: center;
  padding: 40px 0;
  background-color: #ffffff;
  max-width: 400px;
  height: 150px;
  border-radius: 14px;
}
.about__card:hover {
  scale: 1;
  transform: translate(0, 2px);
  border-bottom: 2px solid #fecd42;
}
.about__description {
  font-weight: 500;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.info__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages {
  padding: 100px 0;
  height: 700px;
}
.advantages__title {
  text-align: center;
  padding-bottom: 30px;
  color: #ffffff;
}
.advantages__image {
  position: relative;
  top: -25%;
  right: -45%;
}
.advantages__card {
  text-align: center;
  background-color: #ffffff;
  padding: 40px 0;
  border-radius: 14px;
}
.advantages__card:hover {
  scale: 1;
  transform: translate(0, 2px);
  border-bottom: 2px solid #fecd42;
}
.advantages .svg {
  color: #fecd42;
}

.mentor {
  padding: 100px 0 50px 0;
  height: 900px;
  background-color: #E4ECFF;
}
.mentor__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mentor__title {
  text-align: center;
  padding-bottom: 50px;
}
.mentor__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  padding: 70px 0;
}
.mentor__card {
  color: #1f1f1f;
  box-shadow: 0px 1px 9px 10px #ffffff;
  padding: 15px;
  max-width: 500px;
  border-radius: 14px;
  background-color: #ffffff;
}
.mentor__card:hover {
  scale: 0.9;
}

.footer {
  padding: 30px 0;
  background-color: #1f1f1f;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__menu-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__menu-link {
  position: relative;
  letter-spacing: 4px;
}
.footer__menu-link:hover::after {
  width: 100%;
}
.footer__menu-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition-duration: 0.2s;
}/*# sourceMappingURL=style.css.map */